{% extends "base.html" %}
{% block content %}
<p class="md-typescale-display-large">Добро пожаловать, {{ user.username }}!</p>
<div class="card-header">Ваш профиль</div>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <md-list>
                <md-list-item>
                    <div slot="headline">Имя пользователя</div>
                    <div slot="supporting-text">{{user.username}}</div>
                </md-list-item>
                <md-list-item>
                    <div slot="headline">Роль</div>
                    <div slot="supporting-text">{{user.role}}</div>
                </md-list-item>
            </md-list>
            <md-filled-button type="link" href="{{ url_for('profile') }}">
                Редактировать профиль
            </md-filled-button>
            <div class="card-body">
                <a href="">
                </a>
            </div>
        </div>
    </div>
    {% if user.role == 'admin' %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Административная панель</div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    <a href="{{ url_for('admin_users') }}" class="btn btn-success">Управление пользователями</a>
                    <a href="{{ url_for('admin_groups') }}" class="btn btn-info">Управление группами</a>
                    <a href="{{ url_for('create_user') }}" class="btn btn-warning">Создать пользователя</a>
                    <a href="{{ url_for('create_group') }}" class="btn btn-secondary">Создать группу</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
