{% extends "base.html" %}
{% block content %}
<h1 class="md-typescale-display-large">Вход в систему</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <md-outlined-text-field label="Email" type="email" name="email" required>
                        </md-outlined-text-field>
                    </div>
                    <div class="mb-3">
                        <md-outlined-text-field type="password" name="password" required>
                    </div>
                    <md-filled-button type="submit">
                        Войти
                    </md-filled-button>
                </form>
            </div>
        </div>
    </div>
    <style>
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem
        }
    </style>
</div>
{% endblock %}
